<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
<meta charset="utf-8" />
<title>@ViewBag.Title</title> 
<meta name="description" content="@ViewBag.Description"/>
<meta name="keywords" content="@ViewBag.Keywords" />
<meta name="author" content="@ViewBag.Author"/>
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
@*// FB Open Graph*@
<meta property="og:title" content="@ViewBag.OgTitle"/>
<meta property="og:description" content="@ViewBag.OgDescription"/>
<meta property="og:type" content="@ViewBag.OgType"/>
<meta property="og:url" content="@ViewBag.OgUrl"/>
<meta property="og:image" content="@ViewBag.OgImage"/>
@*// /FB Open Graph*@

<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
<link rel="stylesheet" type="text/css" href="/public/css/color.css" id="colors" />
<link rel="stylesheet" type="text/css" href="/public/css/social_icons.css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/public/js/fancybox.js"></script>
<script src="/public/js/carousel.js"></script>
<script src="/public/js/flexslider.js"></script>
<script src="/public/js/selectnav.js"></script>
<script src="/public/js/twitter.js"></script>
<script src="/public/js/tooltip.js"></script>
<script src="/public/js/effects.js"></script>
<script defer="defer" src="/public/js/template_functions.js"></script>
<script defer="defer" src="/public/js/isotope.js"></script>

</head>

<body>
    <div id="header">
	    <div class="container">
		    <div class="one-third column">
			    <div id="logo">
				    <a href="/"><img src="images/filmtrove.png" alt="FilmTrove" /></a>
			    </div>
		    </div>
		    <div class="two-thirds column">
			    <div id="social-links">
				    <ul class="social-bookmarks">
					    <li class="googleplus"><a href="#">google+</a></li>
					    <li class="facebook"><a href="#">facebook</a></li>
					    <li class="github"><a href="#">github</a></li>
					    <li class="twitter"><a href="#">twitter</a></li>
				    </ul>
				    <div id="search">
					    <input class="search-form" name="search-form" />
				    </div>
			    </div>	
		    </div>
	    </div>
    </div>
    <div id="navigation-wrapper">
	    <div id="contact">
		    <div class="container">
			    @*@model ICollection<AuthenticationClientData>*@
			    <div class="four columns">
				@using (Html.BeginForm("GoogleLogin", "Account"))
                {
                    @Html.AntiForgeryToken()
                    
                    <fieldset id="socialLoginList">
                        <legend>Log in using another service</legend>
                        <p>
                            <button type="submit" name="provider" value="Google" title="Log in using your Google account">Google</button>
                        </p>
                    </fieldset>
                }
			    </div>	
			
			    <div class="twelve columns">
			    <!-- start: Contact Form -->
			    @*<div id="contact-form">
				    <form method="post" action="contact.php">
					    <div class="contact-form-left">
						    <div class="field">
							    <label>Name:</label>
							    <input type="text" name="name" class="text" />
						    </div>

						    <div class="field">
							    <label>Email: <span>*</span></label>
							    <input type="text" name="email" class="text" />
						    </div>
						    <div class="field">
							    <input type="button" id="send" value="Send Message"/>
							    <div class="loading"></div>
						    </div>
					    </div>
					    <div class="contact-form-right">	
						    <div class="field">
							    <label>Message: <span>*</span></label>
							    <textarea name="message" class="text textarea" ></textarea>
						    </div>
					    </div>	
				    </form>
			    </div>*@
			    <!-- end: Contact Form -->
			    </div>
				
		    </div>
		    <!-- end: Container -->	
	
	    </div>	
	    <!-- end: Contact -->
	
	    <!-- start: Contact Fake -->
	    <div id="contact-fake">
		
		
	    </div>
	    <!-- end: Contact Fake -->	
		
        <div class="container">
		    <div id="logo-small"></div>
		    <div id="navigation">
			    <ul id="nav">
				    <li><a href="#">Find me a movie.</a></li>
				    <li><a href="#">Me.</a>
					    <ul>
					        <li><a href="#">Collection.</a></li>
					        <li><a href="#">Lists.</a></li>
					        <li><a href="#">Friends.</a></li>
                            <li><a href="#">Account.</a></li>
					    </ul>
				    </li>
				    <li><a href="#">Movies.</a>
					    <ul>
                            <li><a href="#">Genres.</a></li>
                            <li><a href="#">New Releases.</a></li>
                            <li><a href="#">Popular.</a></li>
					    </ul>
				    </li>
				    <li><a href="#">About.</a></li>
                    <li><a class="contact-toggle" href="#">Login.</a></li>
			    </ul>
		    </div>
		    <div class="clear"></div>
        </div>
    </div>
    <div id="wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
	    <div class="container">
		    <div class="one-third column">
			    @*<h3>About Us</h3>
			    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>*@
		    </div>
		    <div class="one-third column">
			    @*<h3>Photo Stream</h3>
			    <div class="flickr-widget">
				    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&display=latest&size=s&layout=x&source=user&user=29609591@N08"></script>
				    <div class="clear"></div>
			    </div>*@
		    </div>
		    <div class="one-third column">
			    @*<h3>Latest Tweets</h3>
			    <ul id="twitter"></ul>
				    <script type="text/javascript">
				        jQuery(document).ready(function ($) {
				            $.getJSON('http://api.twitter.com/1/statuses/user_timeline/envato.json?count=3&callback=?', function (tweets) {
				                $("#twitter").html(tz_format_twitter(tweets));
				            });
				        });
				    </script>
			    <div class="clear"></div>*@
		    </div>
	    </div>
    </div>
    <div id="under-footer">
	    <div class="container">
		    <div id="under-footer-text">
			    <div class="sixteen columns">
				    <h2>Herpaderp.</h2>	
			    </div>
		    </div>
		    <div id="under-footer-copyright">
			    <div class="sixteen columns">
				    <p>© Copyright 2012 by <a href="#">FilmTrove</a>. All rights reserved.</p>		
			    </div>
		    </div>
		    @*<div id="under-footer-logo">
			    <div class="sixteen columns">
				    <a href="#"><img src="images/logo-small.png" alt="logo" /></a>
			    </div>
		    </div>*@	
	    </div>
    </div>
</body>
</html>