@{
    ViewBag.Title = "Search results";
}

<div id="portfolio-wrapper">
    @foreach (FlixSharp.Holders.Movie m in ViewBag.SearchResults.MovieResults)
    {
    <div class="one-fourth column portfolio-item">
        <div class="picture">
            <a href="/Movies/View/@m.Id/@m.Title.UrlFriendly(m.Year)" title="@m.Title">
            <img src="@m.BoxArtUrlLarge" alt="@m.Title"/><div class="image-overlay-link"></div></a>
			<div class="item-description alt">
                @using FilmTrove.Code
				<h5><a href="/Movies/View/@m.Id/@m.Title.UrlFriendly(m.Year)">@m.Title</a></h5>
				<p>
				@m.ShortTitle
				</p>
                @*need actors, directors, writers here*@
			</div>
			<div class="post-meta">
                @*<span>@m.Actors.Count</span>
                <span>@m.Director.Count</span>
                <span>@m.SimilarTitles.Count</span>*@
                <span><i class="mini-ico-calendar"></i>@m.Year</span>
                <span>@(m.Rating.RatingType == FlixSharp.Holders.RatingType.Mpaa ? 
                m.Rating.MpaaRating.ToString() : m.Rating.TvRating.ToString())</span> 
                @*<span>@m.AverageRating</span>*@
                @*<span><i class="mini-ico-comment"></i>@(m.RunTime/60) m</span>*@
            </div>	
		</div>
    </div>
    }
    @foreach (FlixSharp.Holders.Person p in ViewBag.SearchResults.PeopleResults)
    {
    @*<div class="one-third column portfolio-item">
        <div class="picture"><a href="/View/Movie/@m.MovieId" title="@m.Title"><img src="/View/Image/@m.PosterId" alt="@m.Title"/><div class="image-overlay-link"></div></a>
			<div class="item-description alt">
                @using FilmTrove.Code
				<h5><a href="/View/Movie/@m.MovieId/@m.Title.UrlFriendly(m.Year)">@m.Title</a></h5>
				<p>
				@m.Description
				</p>
        </div>
			<div class="post-meta">
                <span>@m.Actors.Count</span>
                <span>@m.Director.Count</span>
                <span>@m.SimilarTitles.Count</span>
                <span><i class="mini-ico-calendar"></i>@m.Year</span>
                <span>@m.Rating</span> 
                <span><i class="mini-ico-comment"></i>@(m.RunTime/60) m</span>
            </div>	
		</div>
    </div>*@
    }
</div>