@using FilmTrove.Code;
@using FlixSharp.Holders;
@{
    ViewBag.Title = "Search results: " + ViewBag.Term;
    ViewBag.Description = "Search results for " + ViewBag.Term;
    ViewBag.Keywords = "movies,films,search,term,collections,lists,actors,directors";
}

<div id="portfolio-wrapper">
    <div class="container">
        <section id="page-title">
            <h2>Search Results for: @ViewBag.Term</h2>
        </section>
    </div>
    @foreach(FilmTrove.Models.Movie m in ViewBag.MovieResults)
    {
            String friendlytitle = m.Title.UrlFriendly(m.Year);
    <div class="one-fourth column portfolio-item">
        <div class="movie">
            <a href="/Movies/Details/@m.MovieId/@friendlytitle" title="@m.Title">
            <img src="@m.BestPosterUrl" alt="@m.Title"/></a>
			<div class="item-description alt">
				<h5><a href="/Movies/Details/@m.MovieId/@friendlytitle">@m.Title</a></h5>
                <p>
				@Html.Raw(m.Description)
				</p>
			</div>
			<div class="post-meta center">
                <span>
                    <span>@m.Year</span>
                    <span>@m.Rating</span>
                    <span><a href="/Lists/Links/@m.MovieId/@friendlytitle" class="button color addtocollection">Add To...</a></span>
                </span>
            </div>	
		</div>
    </div>
    }
    @foreach(FilmTrove.Models.Person p in ViewBag.PeopleResults)
    {
        //Person p = (Person)r;
        String friendlyname = p.Name.UrlFriendly();
    <div class="one-fourth column portfolio-item">
        <div class="person">
           <a href="/People/Details/@p.PersonId/@friendlyname" title="@p.Name">@p.Name</a>
            <div class="item-description alt">
                @Html.Raw(p.Bio)
            </div>
        </div>
    </div>
    }
</div>