@{
    FilmTrove.Models.Person person = ViewBag.Person;
    ViewBag.Title = person.Name + " details";
}

<h2>@person.Name</h2>
<p>@Html.Raw(person.Bio)</p>
@if (ViewBag.NeedFilmography)
{
    <script>
        $.ajax("/People/Filmography/@person.PersonId").done(
            function (films) {
                $("#filmography").html("got some filmography: " + films);
            });
    </script>
}
<div id="filmography">
    @if (!ViewBag.NeedFilmography)
    {
    <ul>
        <li>Actor</li>
        @foreach (FilmTrove.Models.Role r in person.Roles.Where(t=> t.InRole == FilmTrove.Models.RoleType.Actor))
        {
        <li><a href="@r.Movie.GetDetailsUrl()">@r.Movie.Title</a></li>   
        }
    </ul>
    <ul>
        <li>Director</li>
        @foreach (FilmTrove.Models.Role r in person.Roles.Where(t=> t.InRole == FilmTrove.Models.RoleType.Director))
        {
        <li><a href="@r.Movie.GetDetailsUrl()">@r.Movie.Title</a></li>   
        }
    </ul>
    <ul>
        <li>Writer</li>
        @foreach (FilmTrove.Models.Role r in person.Roles.Where(t=> t.InRole == FilmTrove.Models.RoleType.Writer))
        {
        <li><a href="@r.Movie.GetDetailsUrl()">@r.Movie.Title</a></li>   
        }
    </ul>
    <ul>
        <li>Producer</li>
        @foreach (FilmTrove.Models.Role r in person.Roles.Where(t=> t.InRole == FilmTrove.Models.RoleType.Producer))
        {
        <li><a href="@r.Movie.GetDetailsUrl()">@r.Movie.Title</a></li>   
        }
    </ul>
    }
</div>
